@import '../../styles/variables';

input {
  outline: none;
  border: none;
}

.inputContainer {
  display: flex;
  flex-direction: column;
  min-height: 66px;
}

.customInput {
  padding: 5px 10px;
  font-size: 20px;
  height: 30px;
  border-radius: 10px;
}

.errorMessageContainer {
  color: $danger;
  margin-top: 5px;
  margin-left: 5px;
}
