@import '../../styles/variables';

table {
  max-width: 660px;
}

.list {
  display: flex;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 10px;
  min-width: 800px;
}

.tableHeaderItem:not(:first-child) {
  text-align: start;
  padding-left: 50px;
}

.colorBox {
  width: 100px;
  height: 50px;
  border-radius: 7px;
  padding-bottom: 10px;
}

.colorContent {
  text-transform: capitalize;
  font-size: 24px;
  font-weight: 600;
  text-align: start;
  padding-left: 50px;
  width: 150px;
}

.colorHexContainer {
  text-transform: uppercase;

  button {
    margin: 0;
    font-size: 12px;
    background-color: $danger;
  }
}
